upstream hayatkurtarlive{
    server 127.0.0.1:8080;
}
upstream hayatkurtarsandbox{
    server 127.0.0.1:7070;
}

server{
    listen 80 ;
    listen [::]:80;


    server_name api.hayatkurtar.com api.exlinetr.com;

    # url pattern for api.hayatkurtar.com
    location /live/ {
        rewrite /live/(.*) /$1  break;
        proxy_pass http://hayatkurtarlive;
    }

    location /sandbox/ {
        rewrite /sandbox/(.*) /$1  break;
        proxy_pass http://hayatkurtarsandbox;
    }
    # url pattern for api.exlinetr.com
    location /hayatkurtar/live/ {
        rewrite /hayatkurtar/live/(.*) /$1  break;
        proxy_pass http://hayatkurtarlive;
    }

    location /hayatkurtar/sandbox/ {
        rewrite /hayatkurtar/sandbox/(.*) /$1  break;
        proxy_pass http://hayatkurtarsandbox;
    }
}
